<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
    <meta charset="UTF-8">
    <title>Locations</title>
</head>
<body>
<h2>Locations:</h2>
<!-- the href must be the same with what is defined as the path in the createLocation.html -->
<a href="createLocation">Add Location Record</a>
<table>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    <!-- ${locations} -> came from the modelMap key    -->
    <tr th:each="location:${locations}">
        <td th:text="${location.id}"></td>
        <td th:text="${location.code}"></td>
        <td th:text="${location.name}"></td>
        <td th:text="${location.type}"></td>
        <td><a th:href="@{'deleteLocation?id='+${location.id}}">Delete</a> </td>
    </tr>
</table>

</body>
</html>